<div class="posts">
  <p id="notice"><%= notice %></p>
  <% @posts.each do |post| %>
    <div class="posts-item">
      <h2><%= link_to post.title, post, class: "posts-title" %></h2>
      <p class="posts-description"><%= post.description %></p>
      <div class="posts-actions">
        <span><%= link_to 'Read More <i class="material-icons right">arrow_forward</i>'.html_safe, post, class: "waves-effect waves-light btn" %></span>
        <span><%= link_to 'Edit <i class="material-icons right">edit</i>'.html_safe, edit_post_path(post), class: "waves-effect waves-teal btn-flat" %></span>
        <span><%= link_to 'Destroy <i class="material-icons right">delete</i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-teal btn-flat" %></span>
      </div>
    </div>
  <% end %>
</div>
