<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="logo">
          <%= link_to '<h1>Rails Blog</h1>'.html_safe, root_url %></h1>
        </div>
        <% if signed_in? %>
          <span><%= link_to 'New Post <i class="material-icons right">add</i>'.html_safe, new_post_path, class: "waves-effect waves-light btn" %></span>
          <span><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "waves-effect waves-light btn-flat" %></span>
        <% else %>
          <span><%= link_to 'Sign in'.html_safe, new_user_session_url, class: "waves-effect waves-light btn-flat" %></span>
          <span><%= link_to "Sign up", new_registration_path(resource_name), class: 'waves-effect waves-light btn-flat' %></span>
        <% end %>
      </header>
      
      <p id="notice"><%= notice %></p>

      <% if alert %>
        <div id="alert" class="card-panel red"><p><%= alert %></p></div>
      <% end %>

      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p>© Copyright <%= Time.current.year %> Rails Blog. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
